backports.functools-lru-cache==1.6.1
click==7.1.2
dill==0.3.2
Flask==2.3.2
Flask-Assets==2.0
hangul-romanize==0.1.0
itsdangerous==1.1.0
Jinja2==2.11.2
klepto==0.1.9
lang-trans==0.6.0
MarkupSafe==1.1.1
numpy==1.21.5
pinyin==0.4.0
pox==0.2.8
pykakasi==2.0.0
PyMySQL==0.9.3
regex==2020.7.14
selenium==3.141.0
six==1.15.0
transliterate==1.10.2
urllib3==1.25.9
webassets==2.0
Werkzeug==1.0.1
