*
{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.card-header
{
  background-color: white;
}

#accordion-controls
{
  font-size: 16px;
}

#btn_next
{
background-color: lightgrey;
border-radius:4px;
text-align:center;
padding:8px;
min-widht:80px;
}

.flashcard
{
  width: 92%;
  background-color: lemonchiffon;
  border-radius: 5px;
  padding:20px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid grey;
  box-shadow: 4px 4px 4px grey;
  font-size: 30px;
  min-height:350px;
  max-height:350px;
  vertical-align:top;
}

#footer
{
  text-align: right;
  color: grey;
  font-size: 10px;
  padding-right: 20px;
  padding-left: 500px;
}

#footer a
{
  font-size: 10px;
  text-decoration: none;
}

@media only screen and (min-width: 768px)
{
  #left-flashcard
  {
    text-align: right;
  }
}

.h1 {
font-size: 30px;
}

#loading
{
display: none;
text-align: center;
}

.navbar
{
  border-top: 20px !important;
  background-color: oldlace !important;
}

.sentence
{
   font-size: 30px;
}

textarea
{
  font-family: 'Courier New';
}

.transition-box
{
    text-align: center;
}

.transliteration
{
   font-size: 24px;
   color: grey;
}
